/*
GERAL
*/

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.botao {
    color: #f1f1f1;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #f50000;
    font-size: .9em;
    border-radius: 3px;
}

/*
NAVEGAÇÃO
*/

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

nav > a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 28px;
    font-family: Pacifico, serif;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    text-decoration: none;
    color: #002eaa;
}

nav ul li a:hover{
    background-color: #f40000;
    color: white;
}

/*
BUSCA
*/

#divBusca{
    background-color:#f1f1f1;
    border:none;
    border-radius:5px;
    width:400px;
    align-items: center;
    background-position: center;
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:10px;
    padding-right: 150px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:200px;
}
#btnBusca{
    margin-top: 8px;
    margin-right: 12px;
    float:right;
    cursor:pointer;
}


/*
CABEÇALHO
*/

header {
    background-image: url('foto.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 2em;
}

/*
SOBRE
*/

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    background-color: #f50000;
    color: #f1f1f1;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #f50000;
}

/*
SERVIÇOS
*/

#servicos {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#servicos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

/*
PORTFOLIO
*/

#portifolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#portifolio h2 {
    margin-bottom: 20px;
}

#portifolio img {
    width: 100%;
}

/*
CONTATO
*/

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


/*
FOOTER
*/

footer {
    text-align: center;
    padding: 10px;
    background-color: #f50000;
    color: #f1f1f1;
}
#container{
    margin-left: auto;
    margin-right: auto;
    width: 280px;  
}

/*
MEDIA QUERIES
*/

@media screen and (min-width: 768px) {
    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
        height: 60px;
    }
    
    nav ul {
        flex-direction: row;
        width: 30%;
    }
    
    /*
    CABEÇALHO
    */
    
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    
    /*
    SOBRE
    */
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }
    
    /*
    SERVIÇOS
    */
    
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    #servicos h2 {
        text-align: center;
        width: 100%;
    }
    
    #servicos div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    
    /*
    PORTFOLIO
    */
    
    #portifolio{
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    #portifolio h2 {
        width: 100%;
        text-align: center;
    }
    
    #portifolio img {
        width: 33.3333333333%;
    }
    
    /*
    CONTATO
    */
    
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    
    #contato h2,
    #contato p {
        width: 100%;
    }
    #container{
        padding-top: 5px;
        position: relative;
        display: table; 
        width: 280px;  
    }
}












